@import "tailwindcss";

@theme {
  /* Dark shades */
  --color-dark-900: #111111;
  --color-dark-700: #757575;
  --color-dark-500: #aaaaaa;

  /* Light shades */
  --color-light-100: #ffffff;
  --color-light-200: #f5f5f5;
  --color-light-300: #e5e5e5;
  --color-light-400: #cccccc;

  /* Supporting colors */
  --color-green: #007d48;
  --color-red: #d33918;
  --color-orange: #d37918;

  /* Font family */
  --font-jost: "Jost", sans-serif;
}

@utility text-heading-1 {
  @apply text-[72px] leading-19.5 font-bold;
}
@utility text-heading-2 {
  @apply text-[56px] leading-15 font-bold;
}
@utility text-heading-3 {
  @apply text-[24px] leading-7.5 font-medium;
}
@utility text-heading-4 {
  @apply text-[20px] leading-7 font-medium;
}

@utility text-lead {
  @apply text-[20px] leading-7 font-medium;
}
@utility text-body {
  @apply text-[16px] leading-6 font-normal;
}

@utility text-body-medium {
  @apply text-[16px] leading-6 font-medium;
}
@utility text-caption {
  @apply text-[14px] leading-5 font-medium;
}
@utility text-footnote {
  @apply text-[12px] leading-4.5 font-normal;
}

@layer base {
  button {
    @apply cursor-pointer;
  }
  #admin {
    table {
      @apply w-full border-collapse overflow-x-auto;
      thead {
        @apply bg-gray-100;
      }
      th {
        @apply font-bold text-black;
      }
      td {
        @apply nth-1:font-semibold;
      }
      th,
      td {
        @apply border border-gray-300 px-4 py-2 text-left;
      }
      button {
        @apply p-2 hover:bg-gray-200 rounded-lg transition-colors;
      }
    }
  }
}
